h1{
    text-align:left;
    margin: 20px;
    

}
.container{
    
    background-color:aqua;
    

}
.merge{
    justify-content: center;
    width:200px;
    margin:30px;
    border:30px;
    
}
